!!*
_*
.gcloud
.nyc_output
build
coverage
dist
image_history
lerna-debug.log
node_modules
NOTES
npm-debug.log
tmp*
uw_db
yarn-error.log
yarn.error.log
ZNOTES

static/f
packages/uw-api/src/graphql
packages/uw-api/src/db/elastic
packages/uw-api/src/endpoints/wiki/wiki-page-dao.ts
.scratch
